<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <!--<httpHandlers>
      <add  verb="*" path="*.xml" type="Service.Neko.XmlHandler,Service" />
    </httpHandlers>-->
  </system.web>

  <system.webServer>
    <handlers>
      <add name="XmlHandler"  verb="*" path="/Neko/*.xml" type="Service.Neko.XmlHandler,Service" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>